@import "tailwindcss";

@theme {
    /*COLOR TONE*/
    --color-primary: rgba(240, 219, 79, 0.5);
    --color-primary-accent: rgba(113, 103, 34, 1);
    --color-secondary: rgba(100, 149, 237, 0.5);
    --color-secondary-accent: rgba(63, 98, 161, 1);
    --color-danger: #DE1212;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);  /* Start from below */
        opacity: 0;
    }
    to {
        transform: translateY(0);     /* End at normal position */
        opacity: 1;
    }
}

@keyframes floatUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
}

.animate-float-up {
    opacity: 0;
    animation: floatUp 0.5s ease-out forwards;
}